### Exercise 01 : Basic operations

* create a dataframe `views` with two columns: `datetime` and `user` by reading `feed-views.log`
  * convert the `datetime` to the `datetime64[ns]` `Dtype`
  * extract the year, month, day, hour, minute, and second from the values of that
  column to the new columns

In [16]:
import pandas as pd

df = pd.read_csv("../data/feed-views.log", names=["datetime", "user"], parse_dates=["datetime"], sep="\t", engine="python")
df["year"] = df["datetime"].dt.year
df["month"] = df["datetime"].dt.month
df["day"] = df["datetime"].dt.day
df["hour"] = df["datetime"].dt.hour
df["minute"] = df["datetime"].dt.minute
df["second"] = df["datetime"].dt.second
df.head()

                    datetime   user  year  month  day  hour  minute  second
0 2020-04-17 12:01:08.463179  artem  2020      4   17    12       1       8
1 2020-04-17 12:01:23.743946  artem  2020      4   17    12       1      23
2 2020-04-17 12:27:30.646665  artem  2020      4   17    12      27      30
3 2020-04-17 12:35:44.884757  artem  2020      4   17    12      35      44
4 2020-04-17 12:35:52.735016  artem  2020      4   17    12      35      52

* create the new column `daytime`
  * you need to assign the particular time of day value if an hour is within a
  particular interval, for example, afternoon if the hour is larger than `11` and
  less or equal to `17`
  * 0 – 3.59 `night`, 4 – 6.59 `early morning`, 7 – 10.59 `morning`, 11 – 16.59 `afternoon`, 17 – 19.59 `early evening`, 20 – 23.59 `evening`
  * use the method `cut` to solve this subtask
  * assign the column `user` as the index

In [17]:
bins=[-1, 3, 6, 10, 16, 19, 23]
labels=["night", "early morning", "morning", "afternoon", "early evening", "evening"]
df["daytime"] = pd.cut(df["hour"], bins=bins, labels=labels)
df = df.set_index("user")
df.head()

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,afternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon

* calculate the number of elements in your dataframe
  * use the method `count()`
  * calculate the number of elements in each time of day category using the method
  `value_counts()`

In [18]:
print(df.count())
print()
print(df["daytime"].value_counts())

datetime    1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

daytime
evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: count, dtype: int64

* sort values in your dataframe by hour, minute, and second in ascending order
  (simultaneously and not one by one)

In [19]:
df = df.sort_values(by=["hour", "minute", "second"], ascending=True)
df.head()

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,night
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,night
pavel,2020-05-12 00:01:38.444917,2020,5,12,0,1,38,night
pavel,2020-05-12 00:01:55.395042,2020,5,12,0,1,55,night

* calculate the minimum and maximum for the hours and the mode for the daytime
  categories

In [20]:
min_hour = df["hour"].min()
max_hour = df["hour"].max()
mode_daytime = df["daytime"].mode()[0]
print(f"Minimum for the hours: {min_hour}.\nMaximum for the hours: {max_hour}.\nMode for the daytime categories: {mode_daytime}.")

Minimum for the hours: 0.
Maximum for the hours: 23.
Mode for the daytime categories: evening.

* calculate the maximum of hour for the rows where the time of day is night

In [21]:
max_night_hour = df.loc[df["daytime"] == "night", "hour"].max()
print(max_night_hour)

3

* calculate the minimum of hour for the rows where the time of day is morning

In [22]:
min_morning_hour = df.loc[df["daytime"] == "morning", "hour"].min()
print(min_morning_hour)

8

 * In addition to this, find out who visited the page at those hours (make one
  example from that)

In [23]:
visited_min_morning_hour = df.loc[df["hour"] == min_morning_hour, ["hour"]]
visited_min_morning_hour.head()

           hour
user
alexander     8
alexander     8

In [24]:
visited_max_night_hour = df.loc[df["hour"] == max_night_hour, ["hour"]]
visited_max_night_hour.head()

            hour
user
konstantin     3
konstantin     3
konstantin     3

* calculate the mode for the hour and daytime

In [25]:
print(f"The mode for the hour {df["hour"].mode()}")

The mode for the hour 0    22
Name: hour, dtype: int32

In [26]:
print(f"The mode for the daytime {df["daytime"].mode()}")

The mode for the daytime 0    evening
Name: daytime, dtype: category
Categories (6, object): ['night' < 'early morning' < 'morning' < 'afternoon' < 'early evening' < 'evening']

* show the 3 earliest hours in the morning and the corresponding usernames and the
  3 latest hours and the usernames using `nsmallest()` and `nlargest()`

In [27]:
earliest_hours = df[df["daytime"] == "morning"]
earliest_hours.nsmallest(n = 3, columns= "hour", keep="first")

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
alexander,2020-05-15 08:16:03.918402,2020,5,15,8,16,3,morning
alexander,2020-05-15 08:35:01.471463,2020,5,15,8,35,1,morning
alexander,2020-05-15 09:02:24.999438,2020,5,15,9,2,24,morning

In [28]:
latest_hour = df[df["daytime"] == "morning"]
latest_hour.nlargest(n = 3, columns= "hour", keep="first")

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
konstantin,2020-05-16 10:02:08.925840,2020,5,16,10,2,8,morning
maxim,2020-05-14 10:08:04.832361,2020,5,14,10,8,4,morning
maxim,2020-05-14 10:08:05.726956,2020,5,14,10,8,5,morning

* use the method `describe()` to get the basic statistics for the columns

In [29]:
describe = df.describe()
describe.head()

,datetime,year,month,day,hour,minute,second
count,1076,1076.0,1076.000000,1076.000000,1076.000000,1076.000000,1076.000000
mean,2020-05-10 09:00:41.211420672,2020.0,4.870818,13.552974,16.249071,29.629182,29.500929
min,2020-04-17 12:01:08.463179,2020.0,4.000000,1.000000,0.000000,0.000000,0.000000
25%,2020-05-10 01:13:49.857472,2020.0,5.000000,11.000000,13.000000,14.000000,14.000000
50%,2020-05-11 22:48:35.302552832,2020.0,5.000000,13.000000,19.000000,29.000000,30.000000

* to find out what the most popular interval for visiting the page is, calculate
    the interquartile range for the hour by extracting values from the result of the
`describe()` method and store it in the variable `iqr`

In [30]:
iqr = describe["hour"]["75%"] - describe["hour"]["25%"]
print(iqr)

9.0